<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/servicestyle.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">Home page</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact us</a>
    </nav>
    <br>
    <header>
      <h1>Our Services</h1>
    </header>
    <main>
      <section>
        <h2>Code with CSS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          urna vel consequat consectetur, nunc tellus ultrices leo, a tincidunt
          nulla enim vel lorem. In euismod bibendum sapien, eu laoreet velit
          bibendum et. Proin faucibus, turpis non euismod lacinia, sapien nisl
          maximus lacus, sit amet commodo mi dui quis sem. Donec euismod mauris
          vel urna congue, a faucibus erat luctus.
        </p>
      </section>
      <section>
        <h2>Code with HTML</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          urna vel consequat consectetur, nunc tellus ultrices leo, a tincidunt
          nulla enim vel lorem. In euismod bibendum sapien, eu laoreet velit
          bibendum et. Proin faucibus, turpis non euismod lacinia, sapien nisl
          maximus lacus, sit amet commodo mi dui quis sem. Donec euismod mauris
          vel urna congue, a faucibus erat luctus.
        </p>
      </section>
      <section>
        <h2>Code with JavaScript</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          urna vel consequat consectetur, nunc tellus ultrices leo, a tincidunt
          nulla enim vel lorem. In euismod bibendum sapien, eu laoreet velit
          bibendum et. Proin faucibus, turpis non euismod lacinia, sapien nisl
          maximus lacus, sit amet commodo mi dui quis sem. Donec euismod mauris
          vel urna congue, a faucibus erat luctus.
        </p>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 My Company</p>
    </footer>
  </body>
</html>
